<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="internalLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target name="database" type="Database">
      <connectionString>
        Data Source=LAPTOP-ROY\SQLEXPRESS;Database=PriceDt;Trusted_Connection=False;User Id=NlogUser;Password=nlog;
      </connectionString>
      <commandText>
        insert into [NLog](TimeStamp, IP, Level, Message, Exception, StackTrace, Logger,MachineName) values(@time_stamp, @ip, @level, @message, @log_exception, @stacktrace, @logger,@machineName);
      </commandText>
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@time_stamp"     layout="${date}"/>
      <parameter name="@level"          layout="${level}"/>
      <parameter name="@logger"         layout="${logger}"/>
      <parameter name="@message"        layout="${message}"/>
      <parameter name="@log_exception"  layout="${exception:format=Message"/>
      <parameter name="@stacktrace"     layout="${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}"/>
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@ip"             layout="${gdc:ip}"/>
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>

    <logger name="*" minlevel="Info" appendTo="database"/>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>